/* ---------------------------------------------------------------------------- */
/* -------------------------------------Button--------------------------------- */
/* ---------------------------------------------------------------------------- */
.button{cursor: pointer;font-size: 13px;border:1px solid #ffffff;display: inline-block;text-decoration: none;color: #fff;padding: 10px 15px;-webkit-transition: all .35s;-moz-transition: all .35s;transition: all .35s;}
.button:hover{text-decoration: none; background: #303030;}


.button-skin{background-color: #fff;color: #098F8E;border: 1px solid #098F8E;font-weight: bold;width: auto;padding: 10px 35px;border-radius: 30px;font-size: 19px;margin: 30px 0 0;}
.button-skin:hover{background-color: #098F8E;color: #fff;}

.button-subscribe{width: 100%;font-size: 20px;margin: 15px 0 0;}