/* ---------------------------------------------------------------------------- */
/* -------------------------------------Contact-------------------------------- */
/* ---------------------------------------------------------------------------- */
#contact_form, #comment {padding:20px 30px 0;color: #222;}

.contact-form{margin-top: 0;}
.contact-form h3{font-size: 43px; font-weight: 400; color: #222;}