@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9;}

a{color: #888;text-decoration: none;-webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out;transition: all .2s ease-in-out;}
a:hover {color: #131313; text-decoration: none;}

h1, h2 	{font-size: 25px;line-height: 30px;}
h3, h4	{font-size: 20px;line-height: 20px;}
h5, h6	{font-size: 16px;line-height: 16px;}
h1,h2,h3,h4,h5,h6 {letter-spacing: 1px;line-height: 1.2;font-family: 'Roboto', sans-serif;}

p{margin: 10px 0;}


label {cursor:pointer;margin:5px 0;display:block;font-weight:bold;}
input {display:block;width:100%;color:#222;border:1px solid #d1d1d1;padding:15px;margin: 5px 0 20px 0;font-size: 15px;}
textarea {display:block;width:100%;height:250px;background-color:#fff; color:#222;border:1px solid #d1d1d1;padding:10px;margin: 5px 0 20px 0;}

input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"], input[type="search"], textarea, .form-control, select {
	border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    font-weight: normal;
    line-height: 1.2;
    outline: medium none;
    transition: border-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s;
    width: 100%;
}

.t-center{text-align: center !important;}
.t-left{text-align: left;}
.t-right{text-align: right;}
.f-right{float: right;}
.f-left{float: left;}

.post{}
.post:after, .post:before, article:after, article:before, section:after, section:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}
.post img{margin: 30px 0;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.list-inline li{display: inline-block;}


hr.line { margin: 15px 0; padding: 0; max-width: 80px;border: 0; border-top: solid 1px #fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {font: 14px/25px Arial, Helvetica, sans-serif;font-family: 'Raleway', sans-serif;background: #fff;color: #666;font-size: 15px;line-height: 1.6em;letter-spacing: .2px;}
body .wrap-body{}
body .wrap-body {background-image: url(..//img/bg3.jpg);background-position: center center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;color:#fff;position: relative;}


.widget-title{position: relative;letter-spacing: 1px;font-weight: bold;text-transform: uppercase;line-height: 1.38;margin-bottom: 20px;font-size: 15px;color: #eee;padding-left: 13px;}

.widget-title:before {background-color: #098F8E;content: "";height: 1em;left: 0;margin-top: -0.5em;position: absolute;top: 50%;width: 3px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Header--------------------------------- */
/* ---------------------------------------------------------------------------- */
header{padding: 15px 0px;}

a.site-branding {text-align: center;color: #888;height: auto;padding: 0;display: inline-block;}
a.site-branding img{max-width: 170px;}
.main-header h1.site-title, .main-header .site-title a {letter-spacing: 2px;color: #131313;margin: 0;text-transform: uppercase;font-size: 39px;font-weight: 300;line-height: 1;}
p.site-description{margin: 0;font-size: 16px;}
@media  (max-width: 767px){
	a.site-branding {margin-bottom: 10px;}
}


/* ---------------------------------------------------------------------------- */
/* -----------------------------------Subscribe-------------------------------- */
/* ---------------------------------------------------------------------------- */
.subscribe-form{margin-top: 60px;}
.subscribe-form input[type="text"]{background: transparent;border:none;border-bottom: 1px solid #2b2d3f; outline: medium none;box-shadow: none;}
.subscribe-form input::-webkit-input-placeholder,
.subscribe-form input::-webkit-input-placeholder{color: #333;}


/* ---------------------------------------------------------------------------- */
/* ------------------------------Portfolio Box--------------------------------- */
/* ---------------------------------------------------------------------------- */	
.portfolio-box {display: block;position: relative;margin: auto;overflow: hidden;height: 250px;border-bottom: 1px solid rgba(255, 255, 255, 0.3);border-left: 1px solid rgba(255, 255, 255, 0.3);}
.portfolio-box:first-child,
.portfolio-box:nth-child(4n+1) {border-left: none;}
.portfolio-box:nth-child(n+5) {border-bottom: none;}

.portfolio-box .portfolio-caption {display: block;width: 100%;height: 100%;color: rgba(0, 0, 0, 0.7);z-index: 3;background: #F0F0F0;}

.portfolio-box .portfolio-image,
.portfolio-box .portfolio-title{position: absolute;text-align: center;-webkit-transition: all .35s ease-in-out;-moz-transition: all .35s ease-in-out;transition: all .35s ease-in-out;}

.portfolio-box .portfolio-image{top: 50%;transform: translateY(-50%);width: 100%;}
.portfolio-box .portfolio-image img{transition: transform 0.3s ease 0s;}

.portfolio-box .portfolio-title{font-size: 18px;opacity:0;bottom: 0;width: 100%;}

.portfolio-box:hover .portfolio-image img{transform: scale(0.8);}
.portfolio-box:hover .portfolio-title{opacity:1;bottom: 7%;}

@media(min-width:768px) {
    
}

.flex-box{}
.flex-box  .box-image {background-repeat: no-repeat;background-position: center center;background-size: cover;display: block;z-index: 1;width: 100%;height: 100%;}
.flex-box .f-right{order: 2;}

@media(min-width:768px){
	.flex-box {
	  flex-direction: row;
	  -webkit-flex-direction: row;
	  display: flex;
	  display: -webkit-flex;
	  
	}
	.box-text.text-right{text-align: right;}
	.box-text.text-right .content:before,
	.box-text.text-right .content:after{right: 0;}
}
@media(max-width:767px){
	.box-text{text-align: center;}
	.box-text .content:before,
	.box-text .content:after{right: 47%;}
	.flex-box  .box-image {height: 430px;width: 100%;}
}

