footer.main-footer
  .container
    .footer-logo
    .footer-copy
      a(href='#')
        img(src='../img/facebook.png')
      a(href='#')
        img(src='../img/instagram.png')
      a(href='#')
        img(src='../img/telegram.png')
      a(href='#')
        img(src='../img/twitter.png')