section.form-section
  .container
    form.grid
      div
        input(type='text' name='name' autocomplete='off' placeholder='your name' value='')
      div
        input(type='password' name='name' autocomplete='off' placeholder='your password' value='')
      div
        input(type='tel' name='name' autocomplete='off' placeholder='your tel' value='')
      div
        input(type='email' name='name' autocomplete='off' placeholder='your email' value='')
      div
        button.btn.btn-css Call me!