section.grid.portfolio-section
  .grid.portfolio-item(style='background-image: url(../img/1.jpg)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/2.jpg)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/3.jpg)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/4.jpg)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/5.png)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/6.png)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/7.jpg)')
    span hello item
  .grid.portfolio-item(style='background-image: url(../img/8.jpg)')
    span hello item