extends layout/app

block head
    title shop

block page 
    include tamplates/header
    include tamplates/info-section
    include tamplates/form
    include tamplates/portfolio
    include tamplates/blog
    include tamplates/footer
    