section#container.zerogrid
  .wrap-container
    section.content-box.box-1
      .wrap-box
        #owl-travel.owl-carousel
          .item
            img(src='img/15.jpg')
          .item
            img(src='img/16.jpg')
    section.content-box.box-2
      .wrap-box
        .row
          .col-2-5.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-1(style="background-image: url('img/1.jpg')")
              h3.sub-title 01.
              .box-item-detail
                h2.title
                  strong #
                  |  T-shirt
                p
                  strong 25
                  |  Products
          .col-3-5.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-2(style="background-image: url('img/2.jpg')")
              h3.sub-title 02.
              .box-item-detail
                h2.title
                  strong #
                  |  Blouses
                p
                  strong 13
                  |  Products
          .col-3-5.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-3(style="background-image: url('img/3.jpg')")
              h3.sub-title 03.
              .box-item-detail
                h2.title
                  strong #
                  |  Dresses
                p
                  strong 8
                  |  Products
          .col-2-5.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-4(style="background-image: url('img/4.jpg')")
              h3.sub-title 04.
              .box-item-detail
                h2.title
                  strong #
                  |  Hoodies
                p
                  strong 15
                  |  Products
          .col-1-2.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-5(style="background-image: url('img/5.jpg')")
              h3.sub-title 05.
              .box-item-detail
                h2.title
                  strong #
                  |  Leggings
                p
                  strong 15
                  |  Products
          .col-1-2.box-item
            a.box-item-inner(href='single.html')
              .box-item-image.gradient-6(style="background-image: url('img/6.jpg')")
              h3.sub-title 06.
              .box-item-detail
                h2.title
                  strong #
                  |  Sleepwear
                p
                  strong 10
                  |  Products
    section.content-box.box-3.box-style-1
      .row.wrap-box
        .col-1-2
          .wrap-col
            .box-text
              h1 Travel around the world
              p.lead
                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit fugiat, ad ipsum totam ex accusamus quae qui eos exercitationem consequatur!.
.trip
  img(src='..//img/world-map.jpg' alt='image')
  a.travel.map-one(href='#' title='Авиасейлс — крупнейший поисковик авиабилетов в России. Мы сравниваем все доступные варианты перелётов по вашему запросу, а потом направляем вас для покупки на официальные сайты авиакомпаний и агентств.') China
  a.travel.map-two(href='#' title='Стоимость авиабилета, которую вы видите на Авиасейлс — финальная. Мы убрали все скрытые услуги и галочки.') Africa
  a.travel.map-three(href='#' title='Мы не продаём авиабилеты, а помогаем найти самые дешёвые. Бесплатно.') USA
  a.travel.map-four(href='#' title='Аэрофлот удостоен премии «Время инноваций 2021» за цифровой проект «Система контроля операционных ограничений»') Europe
  a.travel.map-five(href='#' title='Аэрофлот совместно с ключевыми участниками отрасли инициировал создание биотопливного альянса') Australia
  a.travel.map-six(href='#' title='Аэрофлот получил премию Digital Leaders Awards в двух номинациях') South America
