header.main-header
  .zerogrid
    .row
      .col-1-3
        a.site-branding(href='index.html')
          img(src='img/logo.png')
      .col-2-3
        #cssmenu.align-right
          ul
            li.active
              a(href='#')
                span Home
            li
              a(href='#')
                span About
            li
              a(href='#')
                span Blog
            li.last
              a(href='#')
                span Contacts
