section.section-ready.landing-section
  .container.grid
    .ready-left
      h2
        | Patokha Sergii
        br
        | Front-end Developer
      p
        | Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
      p
        | Scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
      p
        | Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue.
    .ready-right
      img.img-responsive(src='../img/abb.jpg')